<div class="row">
  <div class="small-12 columns"><a id='newUser' class="tiny right button" {{action 'new'}}>New</a></div>
</div>
{{#each sortedUsers as |user|}}
  {{render-user user=user startWorking='startWorking' stopWorking='stopWorking'}}
{{/each}}
